body{
  background-color:#5DADE2;
  text-align: center;
}
.play-gif{
  width:10%;
  height:10%;
  margin="auto";
}
h1{
  margin-top:5%;
  font-family: 'Jim Nightshade', cursive;
  font-size: 50px;
  color:#FF0000;
}
h3{
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}
button{
  border: white;
  border-radius:50px;
  background-color: green;
  padding: 15px;
}
button a{
  text-decoration: none;
  color: white;
}

.img-personal{
  border-radius:48%;
  height: 50%;
  width: 50%;
}
.tv{
  height: 10%;
  width: 10%;
}
.personal{
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
}
.heart-img{
  border-radius:48%;
  width: 7%;
  height: 7%;
}
.pigeon-heart{
  border-radius:48%;
  margin:25% 0% 0% 0%;
  width:40%;
  height:40%;
}
.desc{
  color: white;
  margin-top: 2%;
  font-size: 1.4rem;
  font-family: 'Indie Flower', cursive;
}
#y{
  margin-bottom: 5%;
}
